<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="GlobalPackagesFolder" value=".\packages" />
    <add key="RepositoryPath" value=".\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
